<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h2>Welcome to the PC Building Advisor!</h2>
  <p>Please select your components below to begin.</p>
  <ion-item>
    <ion-select placeholder="Select Motherboard">
      <ng-container *ngFor="let component of components">
        <ion-option *ngIf="component.type=='motherboard'">
          {{component.name}}
        </ion-option>
      </ng-container>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-select placeholder="Select CPU">
      <ng-container *ngFor="let component of components">
        <ion-option *ngIf="component.type=='cpu'">
          {{component.name}}
        </ion-option>
      </ng-container>
    </ion-select>
  </ion-item>
  <ion-fab bottom left>
    <button (click)="openStoreBrowser()" ion-button round>Go To Store</button>
  </ion-fab>
</ion-content>
